<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Booking Page</title>
    <style>
      input {
        width: 80px;
      }
    </style>
    <script>
      function totalWeightCalculate(){
        let packageDuration = document.getElementById("packageDuration").value;
        let totalWeight = document.getElementById("totalWeight").value;
        let weightPersonPerDay = 4;
        let weightPersonBaseDuration = weightPersonPerDay * packageDuration;
        
        document.getElementById("totalWeight").value = weightPersonBaseDuration * document.getElementById("groupSize").value;
        document.getElementById("porter").value = Math.floor(document.getElementById("totalWeight").value/20);
        
        if(document.getElementById("groupSize").value < 8) {
          document.getElementById("guide").value = 1;
        }
        else if(document.getElementById("groupSize").value < 16) {
          document.getElementById("guide").value = 2;
        }


      }
    </script>
  </head>
  <body>
    <h1>LET'S BOOKING</h1>
    <form action="/booking/" method="POST">
      <label for="jobTitle">Duration:
        <select name="packageDuration" id="packageDuration" onchange="totalWeightCalculate()">
          <option value="2">2 Day 1 Night</option>
          <option value="3">3 Day 2 Night</option>
          <option value="4">4 Day 3 Night</option>
        </select>
     <br>
        
      <label for="groupSize">Group Size:
        <input type="text" name="groupSize" id="groupSize" onchange="totalWeightCalculate()"> Person
      </label><br>  
  
      <label for="totalWeight">Total Weight:
      <input type="text" name="totalWeight" readonly id="totalWeight" onchange="totalWeightCalculate()"> Kg
      </label><br>

      <label for="porter">Porter:
      <input type="text" name="porter" readonly id="porter"> Person
      </label><br>

      <label for="guide ">Guide:
      <input type="text" name="guide" readonly id="guide"> Person
      </label><br>
  
      <input type="submit" value="Submit" >
  
    </form>

  </body>
</html>